@import '../node_modules/todomvc-common/base';
@import '../node_modules/todomvc-app-css/index';

app-root {
    text-align: center;
    margin: 65px auto 0;
    display: block;
}

.todoapp {
    text-align: left;
}

.info {
    margin: 0 auto 0 !important;
}
.links {
    margin: 65px auto 0 !important;
}
